@model IEnumerable<WebApplication.Models.Parking>

@{
    ViewData["Title"] = "Parquederos";
    Layout = "_LayoutAdmin";
}

<h1 class="mt-5">@ViewData["Title"]</h1>

<a asp-action="Create" class="btn btn-sm btn-primary mt-4 mb-2"><span class="fas fa-plus"></span> Agregar parqueadero</a>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary"><span class="fas fa-edit"></span> Editar</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger"><span class="fas fa-trash"></span> Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
